[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
dateparser = "*"
langchain-ollama = "*"
ollama = "*"

[dev-packages]

[requires]
python_version = "3.13"
